<!DOCTYPE html>
<html>
<body>
<h1>View Reports</h1>
<p><a href="/report_top25">Top 25 Manufacturers</a></p>
<p><a href="/report_manufacturer-model_search">Manufacturer/Model Search</a></p>
<p><a href="/report_heat-cool_details">Heating/Cooling Method Details</a></p>
<p><a href="/report_waterheater_state">Water Heater Statistics by State</a></p>
<p><a href="/report_offthegrid_dashboard">Off-the-grid Household Dashboard</a></p>
<p><a href="/report_household-radius_average">Household Averages by Radius</a></p>
<br>
<p><a href="/">Return to Main Menu</a></p>
</body>
</html>